.menu {
    background-color: #fff;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    transition: 0.7s ease;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

.activelink {
    font-weight: bold;
    color: blueviolet;
}